{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!--configuracion de la pagina-->
    {% include './include/styles.html' %}
</head>
<body onload="cargar_galerias()">
    <!--barra de navegacion-->
    {% include './header.html' %}
          
    <!--galeria-->
    <div class="container-fluid container-galery">
        <div class="container container-galery-style">
            <div class="row">
                <div class="col-md-12">
                    <h4>Galeria de rescatados</h4>
                </div>
            </div>
            <div class="row galery-title">
                <div class="col-md-12">
                    <h4>Rescatados</h4>
                </div>
            </div>
            <div class="row galery-row" id="galeriaRescatados"></div>
            <div class="row galery-title">
                <div class="col-md-12">
                    <h4>Disponibles</h4>
                </div>
            </div>
            <div class="row galery-row" id="galeriaDisponibles"></div>
            <div class="row galery-title">
                <div class="col-md-12">
                    <h4>Adoptados</h4>
                </div>
            </div>
            <div class="row galery-row" id="galeriaAdoptados"></div>
        </div>
    </div>

    <div id="galeriaModal"></div>

    <!--footer-->
    {% include './footer.html' %}

    <!--scripts-->
    {% include './include/scripts.html' %}
</body>
</html>