{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Header</title>
</head>
<body>
    <div class="navbar navbar-expand-md navbar-default bg-default justify-content-center navbar-style">
        <!--logo-->
        <a class="navbar-brand logo" href="{% url 'index' %}">
            <img src="{% static './img/etc/logo.png' %}" alt="error-logo">
        </a>

        <!--navegacion-->
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#aboutus">Quienes Somos</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#services">Servicios</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contáctenos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rescued' %}">Rescatados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'galeria' %}">Galería</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pwa' %}">Pwa</a>
                </li>
            </ul>
        </div>

        <!--login-->
        <span class="navbar-text user-menu-title">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle username" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bienvenid@ {{user}}
                        {% for u in usuarios %}
                            {% ifequal request.user.username u.usuario %}
                                <img src="/media/{{u.avatar}}" alt="error-avatar" class="user-avatar">
                            {% endifequal %}
                        {% endfor %}
                    </a>
                    <div class="dropdown-menu dropdown-user-style" aria-labelledby="navbarDropdownMenuLink">
                        {% for u in usuarios %}
                            {% ifequal request.user.username u.usuario %}
                                {% ifequal u.provider "misperris" %}
                                    <a class="nav-link dropdown-item" href="{% url 'newpassword' %}"><i class="fas fa-key"></i> Cambiar contraseña</a>
                                {% else %}
                                    <a class="nav-link dropdown-item" href="/accounts/profile"><i class="fas fa-address-book"></i> Completar registro</a>
                                {% endifequal %}
                            {% endifequal %}
                        {% endfor %}
                        <a class="nav-link dropdown-item" href="{% url 'cerrar_sesion' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                    </div>
                </div>
            {% else %}
                <a class="nav-link username" href="{% url 'login' %}">
                    <i class="fas fa-sign-in-alt"></i> Login
                    <img src="/media/avatar/default.png" alt="error-avatar" class="user-avatar">
                </a>
            {% endif %}
        </span>
    </div>
</body>
</html>