{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!--configuracion de la pagina-->
    {% include './include/styles.html' %}
</head>
<body>
    <!--barra de navegacion-->
    {% include './header.html' %}

    <!--alerta pwa-->
    <div class="alert alert-warning alert-dismissible fade show text-center slidescroll slideanim pwa-alert" role="alert">
        Conoce nuestra Progressive Web App de Mis Perris <a href="/pwa/" class="pwa-link">Aquí</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!--carrusel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 carousel-img-height" src="{% static './img/adoptados/Tom.jpg' %}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="carousel-text">
                        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis vel nihil voluptatem
                        vitae a culpa delectus expedita cumque eveniet necessitatibus."
                    </h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 carousel-img-height" src="{% static './img/adoptados/Duque.jpg' %}" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="carousel-text">
                        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis vel nihil voluptatem
                        vitae a culpa delectus expedita cumque eveniet necessitatibus."
                    </h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 carousel-img-height" src="{% static './img/adoptados/Apolo.jpg' %}" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="carousel-text">
                        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis vel nihil voluptatem
                        vitae a culpa delectus expedita cumque eveniet necessitatibus."
                    </h5>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--redes sociales-->
    <div class="container-fluid" id="contact">
        <div class="row">
            <div class="col-md-12 social-style">
                <a class="nav-link" href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="nav-link" href="#">
                    <i class="fab fa-google-plus-g"></i>
                </a>
                <a class="nav-link" href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="nav-link" href="#">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>

    <!--etapas-->
    <div class="container" id="services">
        <div class="row container-phase-style">
            <div class="col-md-6 rescue-style">
                <h4>RESCATE</h4>
                <span>ETAPA UNO</span>
                <br>
                <hr>
                <p>
                    Rescatamos perros en situacion de peligro y/o abandono. Los rehabilitamos y los
                    preparamos para buscarles un hogar.
                </p>
                <img src="{% static './img/etc/rescate.jpg' %}" alt="error-rescate" class="slideanim">
            </div>
            <div class="col-md-6 crowd-style">
                <img src="{% static './img/etc/crowfunding.jpg' %}" alt="error-crowd" class="slideanim">
                <h4>CROWDFUNDING</h4>
                <span>FINANCIAMIENTO</span>
                <br>
                <hr>
                <p>
                    Sigue nuestras redes sociales para informarte acerca de diversas campañas y
                    actividades que realizamos para obtener financiamiento para seguir ayudando.
                </p>
                <button>CAMPAÑAS</button>
            </div>
        </div>
    </div>
    
    <!--collage-->
    <div class="container-fluid">
        <div class="row container-collage-style">
            <div class="collage-row justify-content-center">
                <div class="collage-column">
                    <div class="container-overlay">
                        <img src="{% static './img/rescatados/Oso.jpg' %}" alt="error-collage" class="image-overlay slideanim">
                        <div class="overlay">
                            <div class="text-overlay">Lorem ipsum dolor sit amet.</div>
                        </div>
                    </div>
                    <div class="container-overlay">
                        <img src="{% static './img/rescatados/Maya.jpg' %}" alt="error-collage" class="image-overlay slideanim">
                        <div class="overlay">
                            <div class="text-overlay">Lorem ipsum dolor sit amet.</div>
                        </div>
                    </div>
                    <div class="container-overlay">
                        <img src="{% static './img/rescatados/Wifi.jpg' %}" alt="error-collage" class="image-overlay slideanim">
                        <div class="overlay">
                            <div class="text-overlay">Lorem ipsum dolor sit amet.</div>
                        </div>
                    </div>
                    <div class="container-overlay">
                        <img src="{% static './img/rescatados/Chester.jpg' %}" alt="error-collage" class="image-overlay slideanim">
                        <div class="overlay">
                            <div class="text-overlay">Lorem ipsum dolor sit amet.</div>
                        </div>
                    </div>
                </div>
                <div class="collage-column">
                    <div class="container-overlay">
                        <img src="{% static './img/rescatados/Chocolate.jpg' %}" alt="error-collage" class="image-overlay slideanim">
                        <div class="overlay">
                            <div class="text-overlay">Lorem ipsum dolor sit amet.</div>
                        </div>
                    </div>
                    <div class="container-overlay">
                        <img src="{% static './img/rescatados/Pexel.jpg' %}" alt="error-collage" class="image-overlay slideanim">
                        <div class="overlay">
                            <div class="text-overlay">Lorem ipsum dolor sit amet.</div>
                        </div>
                    </div>
                </div>
                <div class="collage-column">
                    <div class="container-overlay">
                        <img src="{% static './img/rescatados/Bigotes.jpg' %}" alt="error-collage" class="image-overlay slideanim">
                        <div class="overlay">
                            <div class="text-overlay">Lorem ipsum dolor sit amet.</div>
                        </div>
                    </div>
                    <div class="container-overlay">
                        <img src="{% static './img/rescatados/Luna.jpg' %}" alt="error-collage" class="image-overlay slideanim">
                        <div class="overlay">
                            <div class="text-overlay">Lorem ipsum dolor sit amet.</div>
                        </div>
                    </div>
                    <div class="container-overlay">
                        <img src="{% static './img/rescatados/AJ.jpg' %}" alt="error-collage" class="image-overlay slideanim">
                        <div class="overlay">
                            <div class="text-overlay">Lorem ipsum dolor sit amet.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--formulario-->
    <div class="container">
        <form action="#" id="formulary" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 class="form-title">"Se puede vivir sin un perro, pero no merece la pena", Heinz Ruhmann.</h4>
            <div id="message-user"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="run">RUN</label>
                        <input required class="form-control" type="text" name="run" placeholder="Ingrese run" onkeypress="return validarRun(event)" id="run">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nombre">Nombre completo</label>
                        <input required class="form-control" type="text" name="nombre" placeholder="Ingrese nombre completo" onkeypress="return validarLetras(event)" id="nombre">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nacimiento">Fecha de nacimiento</label>
                        <input required class="form-control" type="text" name="nacimiento" id="nacimiento" placeholder="dd/mm/aaaa" id="nacimiento">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="telefono">Teléfono contacto</label>
                        <input class="form-control" type="text" name="telefono" placeholder="Ingrese numero de teléfono" id="telefono">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="correo">Correo electrónico</label>
                        <input required class="form-control" type="text" name="correo" placeholder="Ingrese correo electrónico" id="correo">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input required class="form-control" type="text" name="username" placeholder="Ingrese usuario" id="username">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input required class="form-control" type="password" name="password" placeholder="Ingrese contraseña"  id="password">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="repassword">Confirme contraseña</label>
                        <input required class="form-control" type="password" name="repassword" placeholder="Confirme contraseña" id="repassword">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="pregunta">Pregunta secreta</label>
                        <select name="pregunta" id="pregunta" class="form-control">
                            <option hidden value="default">Seleccione pregunta</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="respuesta">Respuesta secreta</label>
                        <input required class="form-control" type="text" name="respuesta" id="respuesta" placeholder="Ingrese respuesta">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="avatar">Avatar</label>
                        <input type="file" name="avatar" id="avatar">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="region">Region</label>
                        <select name="region" id="region" class="form-control">
                            <option hidden value="default">Seleccione region</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="comuna">Comuna</label>
                        <select name="comuna" id="comuna" class="form-control">
                            <option hidden value="default">Seleccione comuna</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="vivienda">Tipo vivienda</label>
                        <select name="vivienda" id="vivienda" class="form-control">
                            <option hidden value="default">Seleccione vivienda</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-warning btn-block" type="reset" id="reset-user">Limpiar</button>
                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn btn-success btn-block " value="Guardar">
                </div>
            </div>
        </form>
    </div>

    <!--footer-->
    {% include './footer.html' %}

    <!--scripts-->
    {% include './include/scripts.html' %}
</body>
</html>