<!DOCTYPE html>
<html lang="en">
<head>
    <!--configuracion de la pagina-->
    {% include './include/styles.html' %}
</head>
<body>
    <!--header-->
    {% include './header.html' %}

    <!--login-->
    <div class="container-fluid login-background">
        <div class="container justify-content-center login-container">
            <div class="row">
                <div class="col-md-12">
                    {% if usuario is not None %}
                        <form action="{% url 'changepass' %}" id="formulary-password_nolog" class="formulary-password_nolog" method="post">
                            {% csrf_token %}
                            <h4>{{usuario.usuario}}</h4>
                            <input type="hidden" name="username" id="username" value="{{usuario.usuario}}">
                            <hr>
                            <div class="form-group">
                                <label for="pregunta">{{usuario.pregunta}}</label>
                                <input class="form-control" type="text" name="respuesta" id="respuesta" placeholder="Ingrese respuesta">
                            </div>
                            <div class="form-group">
                                <label for="newpassword">Nueva contraseña</label>
                                <input class="form-control" type="password" name="newpassword" id="newpassword" placeholder="Ingrese contraseña">
                            </div>
                            <div class="form-group">
                                <label for="newrepassword">Confirme contraseña</label>
                                <input class="form-control" type="password" name="newrepassword" id="newrepassword" placeholder="Confirme contraseña">
                            </div>
                            <div class="row">
                                <div class="col-6 col-md-6">
                                    <input type="reset" class="btn btn-warning btn-block" value="Limpiar">    
                                </div>
                                <div class="col-6 col-md-6">
                                    <input type="submit" class="btn btn-success btn-block" value="Cambiar">
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <div class="formulary-password_nolog password_nolog-style">
                            <h4>El usuario no existe</h4>
                            <a href="{% url 'login' %}" class="btn btn-danger btn-block">Volver al login</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    {% include './footer.html' %}

    <!--scripts-->
    {% include './include/scripts.html' %}
</body>
</html>