{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--configuracion de la pagina-->
    {% include './include/styles.html' %}
</head>
<body class="profile-background" onload="social()">
    <!--header-->
    {% include './header.html' %}

    <!--redireccionar usuario-->
    {% for u in usuarios %}
        {% ifequal request.user.username u.usuario %}
            <script language="javascript">
                window.location.href = "/"
            </script>
        {% endifequal %}
    {% endfor %}

    <!--reconocer usuario-->
    <input type="hidden" id="socialUser" value="{{user.username}}">
    <input type="hidden" id="socialEmail" value="{{user.email}}">

    <!--formulario-->
    <div class="container">
        <form action="#" id="formulary-social" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 class="form-title">"Se puede vivir sin un perro, pero no merece la pena", Heinz Ruhmann.</h4>
            <div id="message-user"></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="run">RUN</label>
                        <input required class="form-control" type="text" name="run" placeholder="Ingrese run" onkeypress="return validarRun(event)" id="run">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nombre">Nombre completo</label>
                        <input required class="form-control" type="text" name="nombre" placeholder="Ingrese nombre completo" onkeypress="return validarLetras(event)" id="nombre" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="nacimiento">Fecha de nacimiento</label>
                        <input required class="form-control" type="text" name="nacimiento" id="nacimiento" placeholder="dd/mm/aaaa" id="nacimiento">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="telefono">Teléfono contacto</label>
                        <input class="form-control" type="text" name="telefono" placeholder="Ingrese numero de teléfono" id="telefono">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="correo">Correo electrónico</label>
                        <input required class="form-control" type="text" name="correo" placeholder="Ingrese correo electrónico" id="correo" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input required class="form-control" type="text" name="username" placeholder="Ingrese usuario" id="username" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input required class="form-control" type="text" name="password" placeholder="Ingrese contraseña"  id="password" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="repassword">Confirme contraseña</label>
                        <input required class="form-control" type="text" name="repassword" placeholder="Confirme contraseña" id="repassword" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="pregunta">Pregunta secreta</label>
                        <select name="pregunta" id="pregunta" class="form-control" disabled>
                            <option hidden value="default">Seleccione pregunta</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="respuesta">Respuesta secreta</label>
                        <input required class="form-control" type="text" name="respuesta" id="respuesta" placeholder="Ingrese respuesta" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="avatar">Avatar</label>
                        <input type="file" name="avatar" id="avatar">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="region">Region</label>
                        <select name="region" id="region" class="form-control">
                            <option hidden value="default">Seleccione region</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="comuna">Comuna</label>
                        <select name="comuna" id="comuna" class="form-control">
                            <option hidden value="default">Seleccione comuna</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="vivienda">Tipo vivienda</label>
                        <select name="vivienda" id="vivienda" class="form-control">
                            <option hidden value="default">Seleccione vivienda</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-warning btn-block" type="reset" id="reset-user" disabled>Limpiar</button>
                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn btn-success btn-block" value="Guardar" id="submitSocial">
                </div>
            </div>
        </form>
    </div>

    <!--footer-->
    {% include './footer.html' %}

    <!--scripts-->
    {% include './include/scripts.html' %}
</body>
</html>