{% load staticfiles %}
<script src="{% static './js/jquery-3.3.1.js' %}"></script>
<script src="{% static './js/popper.js' %}"></script>
<script src="{% static './js/bootstrap.js' %}"></script>
<script src="{% static './js/jquery.validate.js' %}"></script>
<script src="{% static './js/app.js' %}"></script>